.collection-preview {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	.title {
		font-size: 28px;
		margin-bottom: 25px;
		padding-bottom: 5px;
		border-bottom: 1px solid hsl(0, 4%, 67%);
	}

	.preview {
		display: flex;
		justify-content: space-between;
	}
}
