body {
	font-family: "Open Sans Condensed";
	padding: 20px 60px;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
